<header class="sound-letter-header">
  <div class="container">
    <nav class="navbar">
      <div class="logo-container">
        <a routerLink="/" class="logo-link">
          <div class="footer-logo">
            Sound<span>Letter</span>
            <span class="music-icon">🎵</span>
          </div>
        </a>
      
        <button class="menu-toggle" (click)="toggleMenu()">☰</button>
      </div>

      <div class="nav-links" [class.open]="isMenuOpen">
        <a class="nav-link" (click)="scrollToFuncionalidade()">
          <span class="link-text">Como funciona</span>
          <span class="link-underline"></span>
        </a>

        <a class="nav-link" (click)="scrollToForms()">
          <span class="link-text">Enviar música</span>
          <span class="link-underline"></span>
        </a>
      </div>
    </nav>
  </div>
</header>
