<header class="sound-letter-header">
    <div class="container">
      <nav class="navbar">
        <!-- Logo -->
        <div class="logo-container">
          <a routerLink="/" class="logo-link">
            <div class="footer-logo">Sound<span>Letter</span>
              <span class="music-icon">🎵</span> 
            </div>
          </a>
        </div>
  
     
        <div class="nav-links">
          <a routerLink="/como-funciona" class="nav-link" [routerLink]="'/#how-it-works'" (click)="scrollToFuncionalidade()">
            <span class="link-text">Como funciona</span>
            <span class="link-underline"></span>
          </a>
          <a class="nav-link" [routerLink]="'/#enviar-musica'" (click)="scrollToForms()">
            <span class="link-text">Enviar música</span>
            <span class="link-underline"></span>
          </a>
        </div>
      </nav>
    </div>
  </header>
  